<!DOCTYPE html>
<html>

    
<head>
    <link rel="stylesheet" href={{ url_for( "static", filename='theme.css' ) }} />

</head>
<form method="post" action="/login">
    <input type="text" name="username" placeholder="Your Username">
    <input type="password" name="password" placeholder="Your Password">
    <input type="submit" value="Submit">
<body>
    <h1>SPOTIFY</h1>
    <h2>{{ songName }}</h2>
    <h3>{{ ArtistName }}</h3>

    <div> 
        <img src="{{ Image }}"width=300 height=300/>
   
    </div>

    <div> 
        <audio controls> 
            <source src="{{ Audio }}">
        </audio>
    </div> 
       <a href="{{ lyricsURL }}">link here!</a> 
   </body> 
</html>
 